<a href="https://colab.research.google.com/github/joshIsac/DeepLearningLab/blob/main/2348523_Multilayer_perceptron_lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [31]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# import dataset

In [32]:
cred_data1=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/fraudTest.csv")
#cred_data2=pd.read_csv("/content/drive/MyDrive/fraudTrain.csv")
cred_data1

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,555714,2020-12-31 23:59:07,30560609640617,fraud_Reilly and Sons,health_fitness,43.77,Michael,Olson,M,558 Michael Estates,...,40.4931,-91.8912,519,Town planner,1966-02-13,9b1f753c79894c9f4b71f04581835ada,1388534347,39.946837,-91.333331,0
555715,555715,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,Jose,Vasquez,M,572 Davis Mountains,...,29.0393,-95.4401,28739,Futures trader,1999-12-27,2090647dac2c89a1d86c514c427f5b91,1388534349,29.661049,-96.186633,0
555716,555716,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,Ann,Lawson,F,144 Evans Islands Apt. 683,...,46.1966,-118.9017,3684,Musician,1981-11-29,6c5b7c8add471975aa0fec023b2e8408,1388534355,46.658340,-119.715054,0
555717,555717,2020-12-31 23:59:24,4079773899158,fraud_Breitenberg LLC,travel,7.99,Eric,Preston,M,7020 Doyle Stream Apt. 951,...,44.6255,-116.4493,129,Cartographer,1965-12-15,14392d723bb7737606b2700ac791b7aa,1388534364,44.470525,-117.080888,0
555718,555718,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,Samuel,Frey,M,830 Myers Plaza Apt. 384,...,35.6665,-97.4798,116001,Media buyer,1993-05-10,1765bb45b3aa3224b4cdcb6e7a96cee3,1388534374,36.210097,-97.036372,0

In [33]:
#take only certain samples
df=cred_data1.sample(2000)
df

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
554949,554949,2020-12-31 19:27:30,3556613125071656,fraud_Heathcote LLC,shopping_net,8.50,Jose,Vasquez,M,572 Davis Mountains,...,29.0393,-95.4401,28739,Futures trader,1999-12-27,5f755fe387f680485bc26dcb1789a3e6,1388518050,28.930613,-96.033467,0
123168,123168,2020-08-03 11:39:26,676234256292,fraud_Howe Ltd,misc_pos,44.52,David,Vasquez,M,06539 Gregory Mountains Suite 029,...,34.2980,-114.1560,126,Marketing executive,1992-10-07,5c749bc85b1ab971270ba8bf94983045,1375529966,34.358973,-113.398646,0
307672,307672,2020-10-15 21:41:39,4505383113689,"fraud_Armstrong, Walter and Gottlieb",food_dining,11.65,Alicia,Hawkins,F,507 John Overpass Suite 424,...,38.8582,-76.6145,3289,Quantity surveyor,1933-03-15,591dbe888882a71a5b8208c9fbab1d3c,1381873299,37.964293,-76.049708,0
479422,479422,2020-12-14 22:44:46,4538566639857,fraud_White and Sons,home,123.42,Jerry,Kelly,M,3539 Mckenzie Stream,...,40.8170,-74.0000,13835,"Programmer, multimedia",1967-05-28,328bbd241b7317cd6fdbdc52dfc87a87,1387061086,41.104348,-73.079734,0
144689,144689,2020-08-10 19:24:59,6011109736646996,"fraud_Cole, Hills and Jewess",home,4.95,Rebecca,Erickson,F,594 Berry Lights Apt. 392,...,34.2651,-77.8670,186140,English as a second language teacher,1983-02-08,f4cd4e437fdd490025708ab619cbcf9a,1376162699,33.399927,-77.257590,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
479280,479280,2020-12-14 22:17:22,3518758680062249,fraud_McGlynn-Jaskolski,misc_pos,8.64,Antonio,Koch,M,8738 Richard Brooks,...,38.5677,-109.5271,9772,Location manager,1989-11-24,565944f7026a4ab19d234382cfe1dd67,1387059442,38.043548,-109.967521,0
539463,539463,2020-12-28 12:38:02,213148039875802,"fraud_Lesch, D'Amore and Brown",food_dining,109.55,Jill,Jacobs,F,034 Kimberly Mountains,...,27.9551,-82.2966,79613,Environmental consultant,1978-11-30,ed7b30d6f2290df73387fbeb35cea53b,1388234282,27.422801,-81.863562,0
264607,264607,2020-09-27 10:00:56,180046165512893,"fraud_Effertz, Welch and Schowalter",entertainment,9.42,Erica,Walker,F,084 Holmes Avenue Suite 206,...,44.8021,-122.7624,9587,"Engineer, biomedical",1968-03-24,4155c8e4df7cf56ab768b7b8c584046b,1380276056,44.744133,-123.309071,0
145149,145149,2020-08-10 21:32:29,4698163635895795,fraud_Howe PLC,entertainment,91.33,Sharon,Powell,F,101 Carla Loop,...,40.3406,-120.2824,104,"Teacher, adult education",1989-08-16,912f64606b3734f6eca8a9e9d5b02178,1376170349,40.041307,-119.840810,0
331903,331903,2020-10-26 14:19:43,4777065439639721,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,77.95,Peter,Caldwell,M,08966 Beltran Route Suite 905,...,40.1334,-75.4536,737,Oceanographer,1987-04-24,a021b9f0a0d6d69e836ecc62057dbe5e,1382797183,39.543461,-76.365610,0

In [34]:
#shape of the dataset
df.shape

(2000, 23)

In [35]:
#checking the dataset information
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 554949 to 331903
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             2000 non-null   int64
 1   trans_date_trans_time  2000 non-null   object
 2   cc_num                 2000 non-null   int64
 3   merchant               2000 non-null   object
 4   category               2000 non-null   object
 5   amt                    2000 non-null   float64
 6   first                  2000 non-null   object
 7   last                   2000 non-null   object
 8   gender                 2000 non-null   object
 9   street                 2000 non-null   object
 10  city                   2000 non-null   object
 11  state                  2000 non-null   object
 12  zip                    2000 non-null   int64
 13  lat                    2000 non-null   float64
 14  long                   2000 non-null   float64
 15  city_pop               2000 non-null   int64
 16  job                    2000 non-null   object
 17  dob                    2000 non-null   object
 18  trans_num              2000 non-null   object
 19  unix_time              2000 non-null   int64
 20  merch_lat              2000 non-null   float64
 21  merch_long             2000 non-null   float64
 22  is_fraud               2000 non-null   int64
dtypes: float64(5), int64(6), object(12)
memory usage: 375.0+ KB

In [36]:
df.describe()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,2000.000000,2.000000e+03,2000.000000,2000.000000,2000.000000,2000.000000,2.000000e+03,2.000000e+03,2000.000000,2000.000000,2000.000000
mean,273710.920500,4.458311e+17,69.794765,48249.846500,38.595156,-90.051942,7.478366e+04,1.380538e+09,38.579409,-90.043526,0.003000
std,161481.903196,1.348447e+18,142.998978,26357.969927,5.308383,13.741660,2.506401e+05,5.237083e+06,5.346649,13.759884,0.054704
min,68.000000,6.041621e+10,1.000000,1257.000000,20.027100,-165.672300,2.300000e+01,1.371818e+09,19.148221,-166.020845,0.000000
25%,130633.500000,1.800655e+14,9.950000,26229.250000,34.495900,-96.638100,7.250000e+02,1.375718e+09,34.667222,-96.624641,0.000000
50%,265338.000000,3.527884e+15,46.490000,47838.000000,39.433600,-87.088400,2.408000e+03,1.380298e+09,39.446675,-87.150042,0.000000
75%,415259.750000,4.714239e+15,81.297500,70727.500000,42.181900,-80.359200,1.984575e+04,1.385846e+09,42.141842,-80.425137,0.000000
max,555646.000000,4.992346e+18,3156.960000,99783.000000,64.755600,-67.950300,2.504700e+06,1.388533e+09,65.751603,-67.155408,1.000000

In [37]:
#checking if there exist any null values
df.isnull().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [38]:
#one hot encoding
encoded_data = pd.get_dummies(df, columns=['merchant', 'category','first','last',	'gender','street','city','state','job'])
encoded_data

,Unnamed: 0,trans_date_trans_time,cc_num,amt,zip,lat,long,city_pop,dob,trans_num,...,job_Video editor,job_Visual merchandiser,job_Volunteer coordinator,job_Warden/ranger,job_Waste management officer,job_Water engineer,job_Water quality scientist,job_Web designer,job_Wellsite geologist,job_Writer
554949,554949,2020-12-31 19:27:30,3556613125071656,8.50,77566,29.0393,-95.4401,28739,1999-12-27,5f755fe387f680485bc26dcb1789a3e6,...,0,0,0,0,0,0,0,0,0,0
123168,123168,2020-08-03 11:39:26,676234256292,44.52,92267,34.2980,-114.1560,126,1992-10-07,5c749bc85b1ab971270ba8bf94983045,...,0,0,0,0,0,0,0,0,0,0
307672,307672,2020-10-15 21:41:39,4505383113689,11.65,20776,38.8582,-76.6145,3289,1933-03-15,591dbe888882a71a5b8208c9fbab1d3c,...,0,0,0,0,0,0,0,0,0,0
479422,479422,2020-12-14 22:44:46,4538566639857,123.42,7022,40.8170,-74.0000,13835,1967-05-28,328bbd241b7317cd6fdbdc52dfc87a87,...,0,0,0,0,0,0,0,0,0,0
144689,144689,2020-08-10 19:24:59,6011109736646996,4.95,28405,34.2651,-77.8670,186140,1983-02-08,f4cd4e437fdd490025708ab619cbcf9a,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
479280,479280,2020-12-14 22:17:22,3518758680062249,8.64,84532,38.5677,-109.5271,9772,1989-11-24,565944f7026a4ab19d234382cfe1dd67,...,0,0,0,0,0,0,0,0,0,0
539463,539463,2020-12-28 12:38:02,213148039875802,109.55,33510,27.9551,-82.2966,79613,1978-11-30,ed7b30d6f2290df73387fbeb35cea53b,...,0,0,0,0,0,0,0,0,0,0
264607,264607,2020-09-27 10:00:56,180046165512893,9.42,97383,44.8021,-122.7624,9587,1968-03-24,4155c8e4df7cf56ab768b7b8c584046b,...,0,0,0,0,0,0,0,0,0,0
145149,145149,2020-08-10 21:32:29,4698163635895795,91.33,96136,40.3406,-120.2824,104,1989-08-16,912f64606b3734f6eca8a9e9d5b02178,...,0,0,0,0,0,0,0,0,0,0
331903,331903,2020-10-26 14:19:43,4777065439639721,77.95,19456,40.1334,-75.4536,737,1987-04-24,a021b9f0a0d6d69e836ecc62057dbe5e,...,0,0,0,0,0,0,0,0,0,0

In [39]:
from sklearn.preprocessing import Normalizer
scaler = Normalizer()
numeric_columns = df.select_dtypes(include=[np.number]).columns
scaled_data = scaler.fit_transform(df[numeric_columns])
scaled_df = pd.DataFrame(scaled_data,columns=numeric_columns)
scaled_df

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
0,1.560330e-10,1.000000,2.389914e-15,2.180895e-11,8.164875e-15,-2.683455e-14,8.080440e-12,3.904046e-07,8.134315e-15,-2.700138e-14,0.0
1,1.821377e-07,0.999998,6.583504e-11,1.364421e-07,5.071901e-11,-1.688110e-10,1.863256e-10,2.034099e-03,5.080917e-11,-1.676910e-10,0.0
2,6.828986e-08,1.000000,2.585796e-12,4.611372e-09,8.624838e-12,-1.700510e-11,7.300156e-10,3.067160e-04,8.426429e-12,-1.687974e-11,0.0
3,1.056329e-07,1.000000,2.719361e-11,1.547184e-09,8.993368e-12,-1.630471e-11,3.048319e-09,3.056165e-04,9.056680e-12,-1.610194e-11,0.0
4,2.407026e-11,1.000000,8.234752e-16,4.725417e-12,5.700295e-15,-1.295385e-14,3.096600e-11,2.289365e-07,5.556366e-15,-1.285247e-14,0.0
...,...,...,...,...,...,...,...,...,...,...,...
1995,1.362071e-10,1.000000,2.455411e-15,2.402324e-11,1.096060e-14,-3.112663e-14,2.777116e-12,3.941900e-07,1.081164e-14,-3.125179e-14,0.0
1996,2.530931e-09,1.000000,5.139620e-13,1.572147e-10,1.311534e-13,-3.861007e-13,3.735104e-10,6.513005e-06,1.286561e-13,-3.840690e-13,0.0
1997,1.469662e-09,1.000000,5.231991e-14,5.408779e-10,2.488367e-13,-6.818385e-13,5.324745e-11,7.666234e-06,2.485148e-13,-6.848747e-13,0.0
1998,3.089484e-11,1.000000,1.943951e-14,2.046246e-11,8.586461e-15,-2.560200e-14,2.213631e-14,2.929166e-07,8.522757e-15,-2.550801e-14,0.0
1999,6.947843e-11,1.000000,1.631755e-14,4.072793e-12,8.401267e-15,-1.579497e-14,1.542788e-13,2.894658e-07,8.277773e-15,-1.598588e-14,0.0

In [42]:
features = df.drop("is_fraud", axis=1)  # Assuming "is_fraud" is the label column
labels = df["is_fraud"]

In [46]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(features,labels,test_size=0.2, random_state=42)