<a href="https://colab.research.google.com/github/joshIsac/DeepLearningLab/blob/main/2348523_Multilayer_perceptron_lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [92]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [93]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# import dataset

In [94]:
cred_data1=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/fraudTest.csv")
#cred_data2=pd.read_csv("/content/drive/MyDrive/fraudTrain.csv")
cred_data1

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,555714,2020-12-31 23:59:07,30560609640617,fraud_Reilly and Sons,health_fitness,43.77,Michael,Olson,M,558 Michael Estates,...,40.4931,-91.8912,519,Town planner,1966-02-13,9b1f753c79894c9f4b71f04581835ada,1388534347,39.946837,-91.333331,0
555715,555715,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,Jose,Vasquez,M,572 Davis Mountains,...,29.0393,-95.4401,28739,Futures trader,1999-12-27,2090647dac2c89a1d86c514c427f5b91,1388534349,29.661049,-96.186633,0
555716,555716,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,Ann,Lawson,F,144 Evans Islands Apt. 683,...,46.1966,-118.9017,3684,Musician,1981-11-29,6c5b7c8add471975aa0fec023b2e8408,1388534355,46.658340,-119.715054,0
555717,555717,2020-12-31 23:59:24,4079773899158,fraud_Breitenberg LLC,travel,7.99,Eric,Preston,M,7020 Doyle Stream Apt. 951,...,44.6255,-116.4493,129,Cartographer,1965-12-15,14392d723bb7737606b2700ac791b7aa,1388534364,44.470525,-117.080888,0
555718,555718,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,Samuel,Frey,M,830 Myers Plaza Apt. 384,...,35.6665,-97.4798,116001,Media buyer,1993-05-10,1765bb45b3aa3224b4cdcb6e7a96cee3,1388534374,36.210097,-97.036372,0

In [101]:
#shape of the dataset
cred_data1.shape

(555719, 23)

In [102]:
#checking the dataset information
cred_data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 23 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             555719 non-null  int64
 1   trans_date_trans_time  555719 non-null  object
 2   cc_num                 555719 non-null  int64
 3   merchant               555719 non-null  object
 4   category               555719 non-null  object
 5   amt                    555719 non-null  float64
 6   first                  555719 non-null  object
 7   last                   555719 non-null  object
 8   gender                 555719 non-null  object
 9   street                 555719 non-null  object
 10  city                   555719 non-null  object
 11  state                  555719 non-null  object
 12  zip                    555719 non-null  int64
 13  lat                    555719 non-null  float64
 14  long                   555719 non-null  float64
 15  city_pop               555719 non-null  int64
 16  job                    555719 non-null  object
 17  dob                    555719 non-null  object
 18  trans_num              555719 non-null  object
 19  unix_time              555719 non-null  int64
 20  merch_lat              555719 non-null  float64
 21  merch_long             555719 non-null  float64
 22  is_fraud               555719 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 97.5+ MB

In [97]:
cred_data1.describe()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,555719.000000,5.557190e+05,555719.000000,555719.000000,555719.000000,555719.000000,5.557190e+05,5.557190e+05,555719.000000,555719.000000,555719.000000
mean,277859.000000,4.178387e+17,69.392810,48842.628015,38.543253,-90.231325,8.822189e+04,1.380679e+09,38.542798,-90.231380,0.003860
std,160422.401459,1.309837e+18,156.745941,26855.283328,5.061336,13.721780,3.003909e+05,5.201104e+06,5.095829,13.733071,0.062008
min,0.000000,6.041621e+10,1.000000,1257.000000,20.027100,-165.672300,2.300000e+01,1.371817e+09,19.027422,-166.671575,0.000000
25%,138929.500000,1.800429e+14,9.630000,26292.000000,34.668900,-96.798000,7.410000e+02,1.376029e+09,34.755302,-96.905129,0.000000
50%,277859.000000,3.521417e+15,47.290000,48174.000000,39.371600,-87.476900,2.408000e+03,1.380762e+09,39.376593,-87.445204,0.000000
75%,416788.500000,4.635331e+15,83.010000,72011.000000,41.894800,-80.175200,1.968500e+04,1.385867e+09,41.954163,-80.264637,0.000000
max,555718.000000,4.992346e+18,22768.110000,99921.000000,65.689900,-67.950300,2.906700e+06,1.388534e+09,66.679297,-66.952026,1.000000

In [103]:
#checking if there exist any null values
cred_data1.isnull().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [104]:
#one hot encoding
encoded_data = pd.get_dummies(cred_data1, columns=['merchant', 'category','first','last',	'gender','street','city','state','job'])
encoded_data

,Unnamed: 0,trans_date_trans_time,cc_num,amt,zip,lat,long,city_pop,dob,trans_num,...,job_Video editor,job_Visual merchandiser,job_Volunteer coordinator,job_Warden/ranger,job_Waste management officer,job_Water engineer,job_Water quality scientist,job_Web designer,job_Wellsite geologist,job_Writer
0,0,2020-06-21 12:14:25,2291163933867244,2.86,29209,33.9659,-80.9355,333497,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,...,0,0,0,0,0,0,0,0,0,0
1,1,2020-06-21 12:14:33,3573030041201292,29.84,84002,40.3207,-110.4360,302,1990-01-17,324cc204407e99f51b0d6ca0055005e7,...,0,0,0,0,0,0,0,0,0,0
2,2,2020-06-21 12:14:53,3598215285024754,41.28,11710,40.6729,-73.5365,34496,1970-10-21,c81755dbbbea9d5c77f094348a7579be,...,0,0,0,0,0,0,0,0,0,0
3,3,2020-06-21 12:15:15,3591919803438423,60.05,32780,28.5697,-80.8191,54767,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,...,0,0,0,0,0,0,0,0,0,0
4,4,2020-06-21 12:15:17,3526826139003047,3.19,49632,44.2529,-85.0170,1126,1955-07-06,57ff021bd3f328f8738bb535c302a31b,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,555714,2020-12-31 23:59:07,30560609640617,43.77,63453,40.4931,-91.8912,519,1966-02-13,9b1f753c79894c9f4b71f04581835ada,...,0,0,0,0,0,0,0,0,0,0
555715,555715,2020-12-31 23:59:09,3556613125071656,111.84,77566,29.0393,-95.4401,28739,1999-12-27,2090647dac2c89a1d86c514c427f5b91,...,0,0,0,0,0,0,0,0,0,0
555716,555716,2020-12-31 23:59:15,6011724471098086,86.88,99323,46.1966,-118.9017,3684,1981-11-29,6c5b7c8add471975aa0fec023b2e8408,...,0,0,0,0,0,0,0,0,0,0
555717,555717,2020-12-31 23:59:24,4079773899158,7.99,83643,44.6255,-116.4493,129,1965-12-15,14392d723bb7737606b2700ac791b7aa,...,0,0,0,0,0,0,0,0,0,0
555718,555718,2020-12-31 23:59:34,4170689372027579,38.13,73034,35.6665,-97.4798,116001,1993-05-10,1765bb45b3aa3224b4cdcb6e7a96cee3,...,0,0,0,0,0,0,0,0,0,0

In [100]:
from sklearn.preprocessing import Normalizer
scaler = Normalizer()
numeric_columns = cred_data1.select_dtypes(include=[np.number]).columns
scaled_data = scaler.fit_transform(cred_data1[numeric_columns])
scaled_df = pd.DataFrame(scaled_data,columns=numeric_columns)
scaled_df

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
0,0.000000e+00,1.0,1.248274e-15,1.274854e-11,1.482474e-14,-3.532506e-14,1.455579e-10,5.987423e-07,1.483368e-14,-3.544081e-14,0.0
1,2.798745e-16,1.0,8.351455e-15,2.351002e-11,1.128474e-14,-3.090822e-14,8.452210e-14,3.839366e-07,1.104119e-14,-3.077512e-14,0.0
2,5.558311e-16,1.0,1.147235e-14,3.254391e-12,1.130363e-14,-2.043694e-14,9.586975e-12,3.812493e-07,1.125442e-14,-2.062025e-14,0.0
3,8.352080e-16,1.0,1.671808e-14,9.126039e-12,7.953880e-15,-2.250025e-14,1.524728e-11,3.819175e-07,8.021448e-15,-2.251806e-14,0.0
4,1.134164e-15,1.0,9.044960e-16,1.407271e-11,1.254751e-14,-2.410581e-14,3.192672e-13,3.889664e-07,1.274776e-14,-2.435185e-14,0.0
...,...,...,...,...,...,...,...,...,...,...,...
555714,1.818400e-08,1.0,1.432236e-12,2.076300e-09,1.325010e-12,-3.006851e-12,1.698265e-11,4.543543e-05,1.307135e-12,-2.988596e-12,0.0
555715,1.562484e-10,1.0,3.144565e-14,2.180895e-11,8.164875e-15,-2.683455e-14,8.080440e-12,3.904092e-07,8.339689e-15,-2.704445e-14,0.0
555716,9.243870e-11,1.0,1.445176e-14,1.652155e-11,7.684417e-15,-1.977830e-14,6.128025e-13,2.309711e-07,7.761224e-15,-1.991360e-14,0.0
555717,1.362127e-07,1.0,1.958442e-12,2.050187e-08,1.093823e-11,-2.854308e-11,3.161940e-11,3.403459e-04,1.090024e-11,-2.869788e-11,0.0
555718,1.332437e-10,1.0,9.142374e-15,1.751125e-11,8.551704e-15,-2.337259e-14,2.781339e-11,3.329268e-07,8.682041e-15,-2.326627e-14,0.0